@charset "utf-8";


body{
    background-color:#f3f3f3;
}

.main {
    background-color:#fef4f4;
    color: #333631;
}

.update{
    background-color:#e9dfe5;
    color: #333631;
}

.tetris{
    background-color:#abced8;
    color:#333631;
}

.images{
    background-color:#2b2b2b;
    color:whitesmoke;
}

.pages{
    background-color:#badcad;
    color: #333631;
}

image {
    display:flex;
}

.soft{
    background-color:#abced8;
    color:#333631;
}

.link{
    background-color:lightyellow;
    color:black;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
    padding: 0;
    margin: 0;
}

    #menu li a {
        display: block;
        background-color: #00000000;
        padding: 3px 10px;
        text-decoration: none;
        color: black;
        width: 150px;
        margin: 2px 0px;
        text-align: left;
        font-size: 14px;
    }

        #menu li a:hover {
           
            background-color: #eaf4fc;
        }

